.container {
    display: flex;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color:green;
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetrominoes {
    background-color: crimson;
}

.mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: chartreuse;
}

.mini-grid div {
    height: 20px;
    width: 20px;
}